[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/psuong/github-style
[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
